html{
	width: auto;
	max-width: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	width: auto;
}

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    transition: all .4s ease-in-out;
}

body.dark .navbar{
    background-color: var(--dark);
}

body.dark{
    background-color: black;
}

.navbar.active{
    top: 0;
    position: fixed;
    z-index: 999;
  }

.logo{
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo h1{
    padding-top: 10px;
    color: #0d369f;
    cursor: pointer;
    transition: .4s;
    font-weight: 600;
    font-size: 1.4rem;
    transition: all .4s ease-in-out;
}

body.dark .logo h1{
    color: white;
}

body.dark .logo h1:hover{
    color: var(--secundary-color);
}

.logo h1:hover{
    color: var(--secundary-color);
}

.links-navbar{
    padding-top: 10px;
    width: 700px;
    display: flex;   
    transition: all .4s ease-in-out;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transition: all .4s ease-in-out;
}

.links li a{
    color:  #2b3035;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .4s ease-in-out;
}

body.dark .links li a{
    color: white;

}

body.dark .links-navbar a:hover{
    color: var(--secundary-color);
}

.links-navbar a:hover{
    color: var(--secundary-color);
}

.links li:first-child a{
    color: var(--secundary-color)
}

.search{
    position: relative;
}

.search i{
    position: absolute;
    top: 12px;
    right: 19px;
    color: var(--principal-color);
    font-size: 13px;
    cursor: pointer;
    transition: .4s;
}

.search i:hover{
    color: var(--secundary-color);
}

.search input{
    padding:10px 0;
    padding-left: 12px;
    border-radius: 50px;
    border: 1px solid rgb(226, 224, 224);
    outline: var(--white);
}

.complements-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#titulos{
background-image: url(img/bg3.jpg);
background-size: cover;
margin: 0px;
margin-bottom: 50px;
padding-bottom: 500px;
max-width: 100%;
width: auto;
height: auto;
}

#titulos h3{
	text-align: left;
	margin:100px;
	top: 200px;
	font-size: 25px;
	position: absolute;
	color: white;
}

#titulos h2{
	text-align: left;
	margin-left:100px;
	width: 100%;
	font-size: 25px;
	top: 350px;
	position: absolute;
	color: white;
}

#titulos a{
	text-decoration-line: none;
	color: white;
}

#cuerpoprin{
	display: flex;
	margin-left: 30px;
	margin-right: 30px;
	width: 100%;
}

.parte1{
	margin-right: 10px;
	margin-left: 10px;
}

#find{
	display: inline-flex;
	justify-content: center;
	margin-bottom: 20px;
}

#posts{
	margin-top: 0px;
	border: 1px solid;
	border-color: #eee;
	border-radius: 5px;
	padding: 0px;
	width: 80%;
	margin-bottom: 20px;
}

#posts h4{
	font-size: 25px;
	margin-left: 20px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
}
body.dark #posts h4{
    color: white;

}

#posts p{
	font-size: 18px;
	margin-left: 20px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
	color: gray;
}

#descpost li{
	
}

#find input{
	border: 1px solid;
	border-color: #eee;
	border-radius: 5px;
	padding: 15px;
	height: 20px;
}

#find button{
	min-width: 50px;
	border: 1px solid;
	border-color: #eee;
	background-color: #0d369f;
	height: 50px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#popularposts{
	border: 1px blue solid;
	border-radius: 10px;
	border-color: #eee;
	width: 85%;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}

#titlepp h6{
margin-top: 20px;
margin-left: 20px;
font-size: 22px;
margin-bottom:20px;
}

body.dark #titlepp h4{
    color: white;

}

#popularposts img{
border-radius: 10px;
}

#pptext{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;

}

#pptext img{
	margin-left: 20px;
}

#pptext a{
	font-size: 20px;
	margin-left: 20px;
	color: black;
	text-decoration-line: none;
	transition: 1s text-decoration;
}

body.dark #titlepp{
    color: white;

}

#pptext a:hover{
text-decoration: underline;
color: black;
}

#pptext h6{
	font-size: 15px;
	margin-left: 20px;
	color: gray;
	margin-top: 10px;
	font-weight: normal;
}

#imgpost{
	width:100%;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}


#archives{
	border: 1px blue solid;
	border-radius: 10px;
	border-color: #eee;
	width: 85%;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}

#titlearchives{
margin-top: 20px;
margin-left: 20px;
font-size: 22px;
margin-bottom:20px;
}

body.dark #titlearchives{
    color: white;
}

#archives a{
margin-left: 20px;
text-decoration: none;
color: grey;
transition: 1s color;
} 

#archives a:hover{
color: orange;
text-decoration: underline;
}

#categories{
	border: 1px blue solid;
	border-radius: 10px;
	border-color: #eee;
	width: 85%;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}
#titlecategories{
margin-top: 20px;
margin-left: 20px;
font-size: 22px;
margin-bottom:20px;
}

body.dark #titlecategories{
    color: white;

}

#categories a{
margin-left: 20px;
text-decoration: none;
color: grey;
transition: 1s color;
}

#categories a:hover{
color: orange;
text-decoration: underline;
}

#tags{
	border: 1px solid blue;
	border-radius: 10px;
	border-color: #eee;
	width: 85%;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}
#titletags{
margin-top: 20px;
margin-left: 20px;
font-size: 22px;
margin-bottom:20px;
}

body.dark #titletags{
    color: white;

}

#tags a{
display: inline-block;
margin-left: 20px;
text-decoration: none;
color: black;
transition: 1s color;
transition: 1s background-color;
border: 1px solid;
border-radius: 10px;
border-color: #eee;
padding: 6px 12px;
margin-top: 10px;
margin-bottom: 10px;
}

#tags a:hover{
color: white;
background-color: red;
}

body.dark #tags a{
    color: white;

}

.footer-card-course{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding-top: 1rem;
}

.f-card-course{
    display: flex;
    color: var(--secundary-color);
    font-weight: bolder;
}

.text-img-course{
    display: flex;
    justify-content: start;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.text-img-course p{
    color: #fff;
    padding: 6px 10px;
    margin: 0 4px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
}

.text-img-course p:first-child {
    background-color: #FFA100;
}

.text-img-course p:nth-child(2){
    background-color: #1DC295;
}

.text-img-course p:nth-child(3){
    background-color: #037EF3;
}

.price {
    position: absolute;
    top:40%;
    right:20%;
    color: var(--white);
    font-weight: bolder;
    background-color: var(--secundary-color);
    padding: 1.4rem .6rem;
    border-radius: 100%;
}

.price p{
    font-size: 16px;
}

.fa-arrow-right{
    padding-left: 10px;
}

.f-card-course .fa-star{
    color: #ffc949;
    padding-right: 2px;
}

.more-courses{
    margin: 3.5rem 0;
}

.more-courses a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--secundary-color);
    padding: 1rem;
    border-radius: 5px;
    font-weight: 600;
    transition: all .4s ease-in-out;
} 

.more-courses a:hover{
    background-color: var(--principal-color);
}

.classes{
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-image: url('../img/bg3.jpg');
    background-size: cover;
    background-position: bottom;
}

.cards-classes{
    width: 78%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.card-class{
    width: 40%;
    height: 150px;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-top: 2rem;
}

.card-class i{
    color: var(--principal-color);
    background-color: #E9EDF6;
    font-size: 28px; 
    padding: 1rem .8rem;
    text-align: center;
    border-radius: 50%;
}

.card-class .fa-download{
    padding: 1rem ;
}

.container-card-class{
    width: auto;
    padding-left: 1rem;
}

.container-card-class h4{
    font-size: 1.4rem;

}

.container-card-class p{
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    color: #707070;
}

.numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}

.numbers p{
    color: #707070;
}

.title-numbers{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.content-numbers{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.numbers-card{
    width: 19%;
    border-right: 1px solid #8683834d; 
}

.numbers-card:nth-child(4) {
    border: none;
}

.numbers-card h4{
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 500;
    padding: .5rem;
    
}

.numbers-card p{
    font-size: 14px;
}

.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.title-testimonial{
    display: flex;
    width: 100%;
    justify-content: center;
}

.cards-testimonial{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-testimonial{
    padding: 2rem;
    height: auto;
    width: 31%;
    background-color: var(--white);
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}

.card-testimonial > p{
    font-size: 14px;
    line-height: 28px; 
    color: #707070;
    margin-left: 1rem;
}

.card-testimonial i{
    color: var(--secundary-color);
    font-size: 1.2rem;
   
}

.profile-testimonial{
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-testimonial img{
    border-radius: 50%;
}
.profile-testimonial-text{
    padding-left: 1rem;
}

.profile-testimonial-text h4{
    font-size: 1.2rem;
}

.profile-testimonial-text p{
    color: #707070;
    font-size: 12px;
}

.instructors{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
}

.title-instructors{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-instructors{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card-instructor{
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: .7rem .3rem;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    border-radius: 5px;
}

.img-instructor{
    position: relative;
    width: 95%;
    border-radius: 5px;
    overflow: hidden;
}

.card-instructor:hover .hover-instructor{
    transform: translateY(0);
}

.hover-instructor{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background: rgb(8 8 8 / 29%);
    transform: translateY(100%);
    transition: all .4s ease-out;
}

.hover-instructor i{
    font-size: 13px;
    color: var(--principal-color);
    background-color: var(--white);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 .5rem;
    margin-top: 1rem;
}

.card-instructor img{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.container-card-instructor{
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.card-instructor:hover .container-card-instructor h4{
    color: var(--secundary-color);
}

.banner{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.container-banner{
    width: 50%;
    margin-left: 3rem; 
}

.container-banner h4{
    font-size: 2.3rem;
    font-weight: 600;
}

.container-banner p{
    color: #707070;
    margin: 2rem 0;
}

.container-banner a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--secundary-color);
    padding: 1rem;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.container-banner a:hover{
    background-color: var(--principal-color);
}

.pre-footer{
    background-color: #060E1F;
}

.subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
}
body.dark .text-subscribe{
    color: white;
}

.container-subscribe{
    margin-top: -6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 200px;
    background-color: var(--white);
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    border-radius: 5px;
}

.container-subscribe .text-subscribe{
  width: 50%;
  padding-left: 1.5rem;
}

.container-subscribe .text-subscribe h4{
    font-size: 2.2rem;
    font-weight: 500;
}

.input{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.container-subscribe input{
    width: 60%;
    height: 50px;
    margin: 2rem 0 2rem 2rem;
    border-radius: 5px 0 0  5px;
    border: 1px solid #707070;
    padding-left: 1rem;
    outline: none;
}

.container-subscribe button{
    width: 30%;
    height: 50px;
    border: none;
    background-color: var(--principal-color);
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0 5px 5px 0;
}

#pie{
margin-top: 200px;
}

.container-pre-footer{
    height: auto;
    display: flex;
    justify-content: space;
    flex-wrap: wrap;
    color: var(--white);
    padding: 5rem 2rem;
}

.quick-links{
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.quick-links a{
    text-decoration: none;
    color: white;
}

.quick-links,.help,.contact{
    width: 20%;
    font-size: 13px;
}

.quick-links h4,.help h4,.contact h4,.about h4{
    border-bottom: 1px solid #12192A;
    margin-bottom: 1rem;
    padding: 5px;
    color: white;
}

.quick-links i,.help i,.contact i,.about i{
    margin-right: 6px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid #12192A;
    width: 35%;
    font-size: 13px;
    padding-left: 10px;
    color:white;
}

.icons-about{
    padding: 1rem 0;
}

.icons-about i{
    background-color: #12192A;
    padding: 10px;
    border-radius: 50%;
}

.icons-about i:first-child{
    padding: 10px 12px;
}

.icons-about i:nth-child(2){
    padding: 10px 11px;
}

.help ul,.contact ul{
    list-style: none;
    color: white;
}

.footer{
    background-color: #040A17;
    text-align: center;
    line-height: 50px;
    color: #707070;
    height: 50px;
}

.fas-fa-search{
	min-width: 20px;
	border: 1px solid;
	border-color: #eee;
	background-color: #0d369f;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.search button{
	background-color: blue;
	border: 1px solid blue;
	width: 30px;
	height: 40px;
}



.footer{
    background-color: #040A17;
    text-align: center;
    line-height: 50px;
    color: #707070;
    height: 50px;
